{{#each erros}}
<div class="alert alert-danger">{{text}}</div>

{{else}}

{{/each}}
<div class="card m-3">
    <div class="card-body">
        <form action="/admin/categorias/new" method="POST">
            <div class="d-inline-flex p-2 bd-highlight">
                <h2 class="">BEM VINDO A ABA DE CADASTRO DE USUARIOS</h2>
            </div>

            <div class="form-row mt-4">
                <div class="col">
                    <input type="text" name="nome" class="form-control" placeholder="Nome...">
                </div>
                <div class="col">
                    <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome...">
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="mt-4">Diga-me sua opinião</label>
                <textarea class="form-control" name="feedback" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-2">Cadastrar pessoa</button>
            <a href="/admin/categorias" <button type="button" class="btn btn-info mt-2">Voltar a página principal
                </button></a>
        </form>
    </div>
</div>