<div class="jumbotron mt-4">
  <h1 class="display-4">Bem vindo ao site de cadastro de usuarios</h1>
  <p class="lead">Um simples teste de conhecimento, um app para simples cadastros de usuario com nome e sobrenome.</p>
  <hr class="my-4">
  <a class="btn btn-info btn-lg" href="/admin/categorias" role="button">Ir para pagina de cadastro</a>
</div>