<footer class="page-footer font-small blue position-sticky">
    <hr>
    <div class="footer-copyright text-center py-3">© 2020 Todos os direitos reservados à: Leonardo Ferreira aka zinnlua
        <hr>
        <p>Redes sociais: </p>
        <a href="https://www.instagram.com/zinnlua/" target="_blank" <button type="button"
            class="btn btn-outline-primary">Instagram</button></a>
        <a href="https://twitter.com/Zinnlua" target="_blank" <button type="button"
            class="btn btn-outline-info">Twitter</button></a>
        <a href="https://github.com/Leoff00" target="_blank" <button type="button"
            class="btn btn-outline-dark">Github</button></a>
    </div>
</footer>