<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link " href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/categorias">Comentários...</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/postagens">Postagens</a>
  </li>

  {{#if user}}
       <li class="nav-item">
    <a class="nav-link" href="/usuario/postar">Postar</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/usuario/logout">Logout...</a>
     </li>

  

  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/usuario/login">Login...</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/usuario/cadastro">Cadastro de Usuarios</a>
  </li>
  {{/if}}
</ul>


