<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/admin/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/categorias">Cadastro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/postagens">Postagens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Em breve...</a>
  </li>
</ul>